# Twitter API (rettiwt-api)
RETTIWT_API_KEY=your_rettiwt_api_key_here

# Telegram Bot
BOT_TOKEN=your_telegram_bot_token_here

# Default Telegram chat ID (can be overridden per monitor in monitors.json)
CHAT_ID=your_telegram_chat_id_here


BOT_TOKEN=8630180994:AAFWgQ707TM0_rqVgGpG0RA0HB51u5SZVto
CHAT_ID=-1003148325579
AUTH_TOKEN=a921805cc3b61ef2708902ea8b1d3a52ab0fcada
CSRF_TOKEN=8cab5eeb506fe1b4efe256a2b0260bfc7d730732e9edab610f9a894afdc4e4b96ebee57589763954914478b77dffb6de24da9ae9dc17986955482c74b46b1eeac54336f3d7015c9eb5080458769f674a
TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs%3D1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA



RESEND_API_KEY="re_41UJjTnv_2HR6kcejNBTv9Tm2uwwcfLU4"
OTP_FROM_EMAIL="TG-SaaS <verify@rdmedia.live>"

